// Colors
$color-background: #111111;
$color-background-secondary: #1e1e1e;
$color-primary: #26532B;
$color-primary-light: #26693C;
$color-text-primary: #FFFFFF;
$color-text-secondary: #CCCCCC;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

// Fonts
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1904px;
